/* .name {
  font-size: 12px;
  font-weight: 600;
}

.card {
  padding: 15px;
  width: 350px;
  cursor: pointer;
}
.profilePic {
  max-width: 330px;
  width: 100%;
  height: 300px;
}
.descr {
  padding: 10px;
  margin-bottom: 10px;
}
.profileBtn {
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 8px;
}
.close {
  text-align: right;
  font-weight: 700;
  padding: 5px;
  cursor: pointer;
} */

.single-person {
  background: rgb(248, 243, 243);
  color: #0f172a;
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.single-person img {
  height: 15rem;
  border-top-left-radius: var(--borderRadius);
  border-top-right-radius: var(--borderRadius);
  cursor: pointer;
}
.single-person h5 {
  padding: 0;
  margin: 0;
}
.single-person footer {
  padding: 1rem 1.5rem;
}
