.single-person {
  background: rgb(248, 243, 243);
  color: #0f172a;
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.single-person img {
  height: 15rem;
  border-top-left-radius: var(--borderRadius);
  border-top-right-radius: var(--borderRadius);
  cursor: pointer;
}
.single-person h5 {
  padding: 0;
  margin: 0;
}
.single-person footer {
  padding: 1rem 1.5rem;
}
button {
  cursor: pointer;
  display: block;
  text-align: center;
  margin: 10px auto;
}
