.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0);
  display: grid;
  place-items: center;
  transition: 0.5s ease all;
  z-index: 100;
}
.modal-container {
  width: 80vw;
  max-width: 800px;
  height: 80vh;
  background: white;
  border-radius: 5px;
}
.modal-img {
  height: 15rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.modal-content {
  padding: 1rem 1.5rem;
}
.modal-content p {
  color: #475569;
}
